* {
  box-sizing: border-box;
  background: #FAFAFA;
  color: #000;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}
article {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.description{
  display: flex;
  gap: 12px;
  align-items: baseline;
}

.description p {
  color: #4F4F4F;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 500;
  width: 600px; 
}

.img-display {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 24px;
}

.detail {
  display: flex; 
  padding: 10px 0;
  gap: 4px;
}

.detail img {
  width: 17px;
}

.detail p {
  margin: 0;
}

.prop {
  color: #BDBDBD;
  font-size: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.detail-prop {
  color: #333;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.detail-group,
.content {
  width: 100%;
}

.group {
  display: flex;
  justify-content: space-between;
}

.orange {
  color: #F2994A;
}

h3 {
  color: #333;
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.ingredient {
  display: flex;
  gap: 8px;
  align-items: baseline;
  padding: 6px 0;
}

input {
  scale: 1.6;
}

.ingredient label {
  color: #333;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 25px;
}

span {
  
  font-weight: 700;
}

.subtitle {
  color:#333;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  padding: 15px 0 10px;
}

.fs-24 {
  font-size: 24px;
}

ol li {
  color: #000;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 6px 0;
  line-height: 150%;
}

ol {
  counter-reset: item;
  list-style-type: none;
  padding-left: 0;
}

li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5em;
}

li::before {
  counter-increment: item;
  content: counter(item);
  background-color: #F2994A;
  padding: 0px 14px 10px;
  margin-right: 15px;
  border-radius: 6px;
  align-items: center;
  color: #FFF;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

li p {
  margin: 0;
}

.source {
  color: #BDBDBD;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  line-height: 150%;
}

footer {
  color: #A9A9A9;
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 100%;
  margin-top: 100px;
}

.username {
  color: #828282;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) {

  p, label {
    max-width: 600px;
  }
}

@media (min-width: 1024px) {

  h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .description p {
      font-size: 14px;
      line-height: normal;
  }

  h3 {
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    margin-top: 48px;
    margin-bottom: 0;
  }

  .subtitle {
      font-size: 18px;
      line-height: normal;
      padding: 32px 0 30px;
      margin: 0;
  }

  .ingredient {
    gap: 17px;
  }

  label {
    font-size: 16px!important;
  }

  ol li {
    color: #000;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 6px 0;
    line-height: 150%;
  }

  .detail-group {
    width: 30%;
    order: 2;
    padding: 50px 40px;
  }

  .detail img {
    width: 34px;
    
  }

  .detail {
    display: flex;
    margin-top: 20px;
  }

  .detail-prop{
    font-size: 14px;
  }

  .prop {
    font-size: 10px;
  }

  .content {
    width: 70%;
    order: 1;
  }

  .group {
    display: block;
  }

  .img-display {
    margin-top: 42px;
    margin-bottom: 0;
  }
}